In [1]:
# Import dependencies.
import pandas as pd
import numpy as np

In [2]:
# Read in CSV file.
df = pd.read_csv("prepped_data.csv")

In [3]:
df.head()

,id,program,previous_college,ethnic_description,gender,grad_date,hs_ged,hs_ged_grad_date,date_of_birth,hours_attended,hours_scheduled,attendance_percentage,gpa,default_status
0,10579,MC-FT 600,N,Hispanic/Latino,M,2020-03-16,High School,2015-06-25,1997-02-05,480.75,600.0,0.8013,82.5,no
1,11118,PTF,Y,Black or African American,M,2021-12-15,High School,2010-05-01,1991-12-17,150.00,150.0,1.0000,95.0,no
2,10644,MC-FT 600,Y,White,M,2020-06-30,High School,1986-01-01,1967-12-07,565.00,600.0,0.9417,90.5,no
3,10560,MC-FT 600,Y,White,M,2019-12-12,High School,2017-06-17,1999-09-23,523.50,600.0,0.8725,81.0,no
4,10509,PTF,Y,Hispanic/Latino,M,2019-06-20,High School,2008-06-29,1989-11-29,142.75,150.0,0.9517,85.0,no

In [4]:
df.tail()

,id,program,previous_college,ethnic_description,gender,grad_date,hs_ged,hs_ged_grad_date,date_of_birth,hours_attended,hours_scheduled,attendance_percentage,gpa,default_status
413,10818,PTF,N,White,F,2021-03-29,High School,2016-06-17,1998-05-27,145.50,150.0,0.9700,96.0,no
414,10452,MC-FT 600,Y,Hispanic/Latino,F,2019-06-12,High School,2006-06-01,1988-04-21,556.50,600.0,0.9275,89.5,no
415,10481,PTF,N,Race and Ethnicity Unknown,F,2019-06-20,High School,2010-12-01,1992-04-16,139.25,150.0,0.9283,88.0,no
416,10521,MC-FT 600,Y,White,M,2019-12-12,High School,2005-06-01,1987-04-15,538.75,600.0,0.8979,94.5,yes
417,10822,MC-FT 600,Y,Black or African American,M,2021-06-15,High School,2011-06-01,1992-09-10,539.00,600.0,0.8983,77.0,no

In [5]:
# Check for null values.
df.isnull().sum()

id                       0
program                  0
previous_college         0
ethnic_description       0
gender                   0
grad_date                0
hs_ged                   0
hs_ged_grad_date         7
date_of_birth            0
hours_attended           0
hours_scheduled          0
attendance_percentage    0
gpa                      0
default_status           0
dtype: int64

In [6]:
# Drop null values.
df = df.dropna()

In [7]:
# Check total number of rows and columns.
df.shape

(411, 14)

In [8]:
# Check data types.
df.dtypes

id                         int64
program                   object
previous_college          object
ethnic_description        object
gender                    object
grad_date                 object
hs_ged                    object
hs_ged_grad_date          object
date_of_birth             object
hours_attended           float64
hours_scheduled          float64
attendance_percentage    float64
gpa                      float64
default_status            object
dtype: object

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df2 = df.copy()
df2["gender"] = le.fit_transform(df2["gender"])
df2["program"] = le.fit_transform(df2["program"])
df2["hs_ged"] = le.fit_transform(df2["hs_ged"])
df2["ethnic_description"] = le.fit_transform(df2["ethnic_description"])
df2["previous_college"] = le.fit_transform(df2["previous_college"])
df2["default_status"] = le.fit_transform(df2["default_status"])

In [10]:
df2["grad_date"]= pd.to_datetime(df2["grad_date"])
df2["hs_ged_grad_date"]= pd.to_datetime(df2["hs_ged_grad_date"])
df2["date_of_birth"]= pd.to_datetime(df2["date_of_birth"])

In [11]:
df2.dtypes

id                                int64
program                           int32
previous_college                  int32
ethnic_description                int32
gender                            int32
grad_date                datetime64[ns]
hs_ged                            int32
hs_ged_grad_date         datetime64[ns]
date_of_birth            datetime64[ns]
hours_attended                  float64
hours_scheduled                 float64
attendance_percentage           float64
gpa                             float64
default_status                    int32
dtype: object

In [12]:
# Calculate the years between hs_ged_grad_date and grad_date.
# Save values in a new column.

df2["years_between_education"] = df2["grad_date"] - df2["hs_ged_grad_date"]

# Convert the difference in terms of years.
df2["years_between_education"] = df2.years_between_education / np.timedelta64(1, "Y")

In [13]:
df2.head()

,id,program,previous_college,ethnic_description,gender,grad_date,hs_ged,hs_ged_grad_date,date_of_birth,hours_attended,hours_scheduled,attendance_percentage,gpa,default_status,years_between_education
0,10579,0,0,3,1,2020-03-16,2,2015-06-25,1997-02-05,480.75,600.0,0.8013,82.5,0,4.725627
1,11118,1,1,2,1,2021-12-15,2,2010-05-01,1991-12-17,150.00,150.0,1.0000,95.0,0,11.625153
2,10644,0,1,7,1,2020-06-30,2,1986-01-01,1967-12-07,565.00,600.0,0.9417,90.5,0,34.494890
3,10560,0,1,7,1,2019-12-12,2,2017-06-17,1999-09-23,523.50,600.0,0.8725,81.0,0,2.486020
4,10509,1,1,3,1,2019-06-20,2,2008-06-29,1989-11-29,142.75,150.0,0.9517,85.0,0,10.973531

In [14]:
# Calculate the years between date_of_birth and grad_date.
# Save values in a new column.

df2["age_at_grad"] = df2["grad_date"] - df2["date_of_birth"]

# Convert the difference in terms of years.
df2["age_at_grad"] = df2.age_at_grad / np.timedelta64(1, "Y")

In [15]:
df2.head()

,id,program,previous_college,ethnic_description,gender,grad_date,hs_ged,hs_ged_grad_date,date_of_birth,hours_attended,hours_scheduled,attendance_percentage,gpa,default_status,years_between_education,age_at_grad
0,10579,0,0,3,1,2020-03-16,2,2015-06-25,1997-02-05,480.75,600.0,0.8013,82.5,0,4.725627,23.107935
1,11118,1,1,2,1,2021-12-15,2,2010-05-01,1991-12-17,150.00,150.0,1.0000,95.0,0,11.625153,29.996509
2,10644,0,1,7,1,2020-06-30,2,1986-01-01,1967-12-07,565.00,600.0,0.9417,90.5,0,34.494890,52.565077
3,10560,0,1,7,1,2019-12-12,2,2017-06-17,1999-09-23,523.50,600.0,0.8725,81.0,0,2.486020,20.219443
4,10509,1,1,3,1,2019-06-20,2,2008-06-29,1989-11-29,142.75,150.0,0.9517,85.0,0,10.973531,29.555706

In [16]:
# Delete grad_date, hs_ged_grad_date, and date_of_birth columns.
df3 = df2.drop(["grad_date", "hs_ged_grad_date", "date_of_birth"], axis = 1)
df3.head()

,id,program,previous_college,ethnic_description,gender,hs_ged,hours_attended,hours_scheduled,attendance_percentage,gpa,default_status,years_between_education,age_at_grad
0,10579,0,0,3,1,2,480.75,600.0,0.8013,82.5,0,4.725627,23.107935
1,11118,1,1,2,1,2,150.00,150.0,1.0000,95.0,0,11.625153,29.996509
2,10644,0,1,7,1,2,565.00,600.0,0.9417,90.5,0,34.494890,52.565077
3,10560,0,1,7,1,2,523.50,600.0,0.8725,81.0,0,2.486020,20.219443
4,10509,1,1,3,1,2,142.75,150.0,0.9517,85.0,0,10.973531,29.555706

In [17]:
# Recheck data types.
df3.dtypes

id                           int64
program                      int32
previous_college             int32
ethnic_description           int32
gender                       int32
hs_ged                       int32
hours_attended             float64
hours_scheduled            float64
attendance_percentage      float64
gpa                        float64
default_status               int32
years_between_education    float64
age_at_grad                float64
dtype: object

In [18]:
# Review descriptive statistics.
df3.describe()

,id,program,previous_college,ethnic_description,gender,hs_ged,hours_attended,hours_scheduled,attendance_percentage,gpa,default_status,years_between_education,age_at_grad
count,411.000000,411.000000,411.000000,411.000000,411.000000,411.000000,411.000000,411.000000,411.000000,411.000000,411.000000,411.000000,411.000000
mean,10685.367397,0.472019,0.776156,3.773723,0.661800,1.858881,357.653285,387.671533,0.931755,88.699927,0.177616,12.236592,31.324900
std,215.863843,0.499825,0.417327,2.082421,0.473673,0.362293,205.676681,224.842900,0.058923,7.729065,0.382655,9.322071,9.414520
min,10302.000000,0.000000,0.000000,0.000000,0.000000,0.000000,120.000000,138.500000,0.786300,36.000000,0.000000,-0.446279,17.708783
25%,10519.500000,0.000000,1.000000,2.000000,0.000000,2.000000,144.750000,150.000000,0.892900,84.500000,0.000000,5.525096,24.474151
50%,10644.000000,0.000000,1.000000,3.000000,1.000000,2.000000,482.000000,600.000000,0.946700,90.000000,0.000000,10.086449,29.114903
75%,10829.000000,1.000000,1.000000,6.000000,1.000000,2.000000,561.500000,600.000000,0.979150,94.000000,0.000000,15.506136,34.859032
max,11194.000000,1.000000,1.000000,7.000000,1.000000,2.000000,600.000000,600.000000,1.000000,99.000000,1.000000,47.283654,64.803521

In [23]:
# Export cleaned data to a CSV file. 
df3.to_csv("cleaned_data.csv", index=False)